<nav>
    <div class="site-title">
      <a href="/"><h1>Frost-Varsel</h1></a>
      <!--<p>A Net Ninja Site</p>-->
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <!--<li><a href="/weather/overview">Vejroversigt</a></li>
      <li><a href="/partners">Partnere</a></li>
      <li><a href="/contact">Kontakt</a></li>-->
    </ul>
  </nav>