<nav>
    <div class="site-title">
      <a href="/"><h1>Frost-Varsel</h1></a>
      <ul>
        <li><a href="/Create-account">Opret profil</a></li>
        <li><p>/</p></li>
        <li><a href="/Login">Log ind</a></li>
      </ul>
      <!--<p>A Net Ninja Site</p>-->
    </div>
    <ul class="navigtion">
      <li><a href="/">Home</a></li>
      <li><a href="/weather_overview">Vejroversigt</a></li>
      <li><a href="/partners">Partnere</a></li>
      <li><a href="/contact">Kontakt</a></li>
    </ul>
  </nav>

  