<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>

    <div class="home-content">
        <picture>
            <img src="1.png" alt="banner1" class="banner1">
        </picture>
        <p>dfhdfdkfdfkdfjkdhfdf</p>

        <picture>
            <img src="2.png" alt="banner2" class="banner2">
        </picture>
    </div>


    
    <%- include("./partials/footer.ejs") %>
</body>
</html>