<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>

    <div class="weather-overview-content">
        


    </div>




    <%- include("./partials/footer.ejs") %>
</body>
</html>